* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.2) rgba(0,0,0,0.1);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
}

body{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    background: rgb(0,150,136);
    background: linear-gradient(180deg, #009688 5%, #d7dbd6 5%); 
    height: 2500px;
    overflow: hidden;
}

.container{
    min-width: 800px;
    width:1400px;
    min-height: 500px;
    height: 96vh;
    margin: 2vh auto;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    background-color: #fff;
    display: flex;

}

/* colonna sinistra */
.left-col{
    width: 30%;
    height: 100%;
    min-width: 330px;
    overflow: hidden;
}

/* colonna destra */
.right-col{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* barra utente  */
.top-bar{
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #d4d4d4;
}

.top-bar .main-user{
    line-height: 60px;
    display: flex;
}

.top-bar img{
    height: 50px;
    margin: 5px 15px;
    border-radius: 50%;
    cursor: pointer;
}

.control-btn{
    display: flex;
    justify-content: end;
}

.control-btn i{
    line-height: 60px;
    padding-right: 20px;
    font-size: 20px;
    color: #b1b1b1;
    cursor: pointer;
}

/* barra notifica  */
.notify-bar{
    height: 87px;
    background-color: #9de1fe;
    display: flex;
    align-items: center;
    line-height: 87px;
}

.notify-bar i{
    color: #9de1fe;
    background-color: #f2fbff;
    font-size: 20px;
    padding: 12px 10px;
    margin: 0px 15px;
    border-radius: 25px;
}

.notify-bar div div{
    line-height: 17px;
}

.notify-bar div div:last-child a{
    color: gray;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

/* barra di ricerca  */
.search-bar{
    height: 50px;
    background-color: #f6f6f6;
}

.search-bar .search{
    height: 30px;
    background-color: #fff;
    width: 90%;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    border-radius: 15px;
}

.search-bar .search i{
    color: #b1b1b1;
    width: 10%;
    text-align: center;
}

.search-bar .search input{
    width: 88%;
    border: none;
    padding: 5px;
    border-radius: 15px;
    color:rgba(0,0,0,.8);
    font-weight: 500;
}

/* seleziona chat  */
.chats-bar{
    height: calc(100% - 50px - 87px - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chats-bar .chat{
    display: flex;
    height: 80px;
    cursor: pointer;
}

.chat:hover{
    background-color: #f8f8f8;
}

.chats-bar .chat img{
    height: 60px;
    margin: 10px 15px;
    border-radius: 50%;
}

.chats-bar .chat > div:last-child{
    width: 80%;
    padding: 10px 0px;
    border-bottom: 1px solid #e9ebeb;
}

.chats-bar .chat > div{
    position: relative;
}

.chats-bar .active{
    background-color: #eee;
}

.chats-bar .last-msg{
    color: #666;
    width: 90%;
    padding: 10px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chats-bar .last-msg-date{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 12px;
    width: 30%;
    text-align: end;
}

/* barra chat aperta  */
.top-bar .chat-user{
    line-height: 60px;
    display: flex;
}

.chat-user > div > div{
    line-height: 15px;
}

.chat-user > div > div:last-child{
    color: gray;
    font-size: 13px;
}

.chat-user .user-info{
    height: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* sezione messaggi chat aperta  */
.message-box{
    height: calc(100% - 120px);
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
}

.message-box .right-msg{
    align-self: flex-end;
    margin: 2px 0px;
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
    max-width: 70%;
}

.message-box .left-msg{
    align-self: flex-start;
    margin: 2px 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
    max-width: 70%;
}

.message-box .date{
    font-size: 11px;
    color: #999;
    text-align: end;
    padding-top: 5px;
}

.message-box > div {
    position: relative;
    cursor: pointer;
}

.message-box .msg {
    padding-right: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.fa-chevron-down{
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 12px;
    transition: 0.2s;
}

.message-box > div:hover .fa-chevron-down{
    color: gray;
    opacity: 1;
}

.arrow-box{
    position: absolute;
    top: 35px;
    right: 5px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 5px;
    z-index: 999;
    min-width: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.arrow-box > div{
    padding: 2px 10px;
}

.arrow-box > div:hover{
    background-color: #eee;
    border-radius: 4px;
}

/* barra di scrittura messaggio  */
.message-bar{
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    line-height: 60px;
    position: relative;
}

.message-bar i{
    width: 6%;
    line-height: 60px;
    font-size: 23px;
    color: #777;
    text-align: center;
    cursor: pointer;
}

.message-bar div input{
    width: 98%;
    padding: 12px 20px;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    margin: 0px 1%;
    border: none;
    border-radius: 20px;
}

.message-bar i.right-btn{
    position: absolute;
    right: 0px;
}

.message-bar div{
    width: 82%;
}

.hide{
    display: none;
}

.show{
    display: block;
}


@media screen and (max-width: 1400px){
    .container{
        width:100%;
        height: 100vh;
        margin: 0;
    }
}