<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css  -->
    <link rel="stylesheet" href="css/style.css">
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="root">

        <!-- colonna di sinistra  -->
        <div class="left-col">
            <!-- barra utente  -->
            <div class="top-bar">
                <div class="main-user">
                    <div class="user-logo">
                        <img src="img/avatar_io.jpg" alt="User image">
                    </div>
                    <div>Nome Utente</div>
                </div>
                <div class="control-btn">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- barra notifica  -->
            <div class="notify-bar">
                <div><i class="fas fa-bell-slash"></i></div>
                <div>
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <div><a href="#">Attiva notifiche desktop</a></div>
                </div>
            </div>
            <!-- barra di ricerca  -->
            <div class="search-bar">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="tempSearch">
                </div>
            </div>
            <!-- seleziona chat  -->
            <div class="chats-bar">
                <div class="chat" v-for="(contact, index) in contacts" :class="pointer == index ? 'active' : ''" @click="pointer = index, initMsg = 0"  v-if="search(index)">
                    <div class="user-logo">
                        <img :src="initImage(index)" alt="User image">
                    </div>
                    <div>
                        <div>{{contact.name}}</div>
                        <div class="last-msg">{{contact.messages[contact.messages.length - 1].message}}</div>
                        <div class="last-msg-date">{{contact.messages[contact.messages.length - 1].date}}</div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- colonna di destra -->
        <div class="right-col">
            <!-- pagina iniziale  -->
            <div class="init-msg" v-if="initMsg == true ? true : false">
                <div class="container-init">
                    <img src="img/initPage.jpg" alt="keep phone connnected image">
                    <h1>Mantieni il telefono connesso</h1>
                    <p>Whatsapp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</p>
                    <h6><i class="fas fa-laptop"></i> Chiama da desktop con WhatsApp per Windows. <a href="#">Scaricala qui</a>.</h6>
                </div>
            </div>
            <!-- barra chat aperta  -->
            <div class="top-bar">
                <div class="chat-user">
                    <div class="user-logo">
                        <img :src="initImage(pointer)" alt="User image">
                    </div>
                    <div class="user-info">
                        <div>{{contacts[pointer].name}}</div>
                        <div>Ultimo accesso oggi alle {{random(0,24) + ":" + random(0,59)}}</div>
                    </div>
                    
                </div>
                <div class="control-btn">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- sezione messaggi chat aperta  -->
            <div class="message-box">
                <div v-for="(msg, index) in contacts[pointer].messages" :class="msg.status == 'sent' ? 'right-msg' : 'left-msg'" @click="msg.arrowBox = !msg.arrowBox">
                    <div class="msg">{{msg.message}}</div>
                    <i class="fas fa-chevron-down"></i>
                    <div class="arrow-box" v-if="msg.arrowBox">
                        <div class="msg-info">Message info</div>
                        <div class="msg-delete" @click="deleteMsg(index)">Delete message</div>
                    </div>
                    <div class="date">{{msg.date}}</div>
                </div>
            </div>
            <!-- barra di scrittura messaggio -->
            <div class="message-bar">
                <i class="far fa-smile"></i>
                <i class="fas fa-paperclip"></i>
                <div>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="tempMsg" @keyup.enter="sendMsg">
                </div>
                <i class="right-btn" :class="tempMsg != '' ? '' : 'fas fa-microphone'"></i>
                <i class="right-btn" :class="tempMsg != '' ? 'fas fa-paper-plane' : ''" @click="sendMsg"></i>
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>